.info__popup{
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 360px;
    position: relative;
    width: 100%;
    margin: 170px auto auto;
}
